<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<title>모으냥즈</title>
<link rel="icon" href="http://localhost:8810/images/cat.ico" type="image/x-icon" />
<link rel="stylesheet" href="http://localhost:8810/css/loading.css" />
<!-- ✅ 외부 JS 파일 연결 -->
<script defer src="http://localhost:8810/js/loding.js"></script>
</head>
<body>

	<!-- 로딩 화면 로딩창 필요하면 이거 -->
	<div id="loading-screen">
		<img src="http://localhost:8810/images/moenyang.gif" alt="로딩중" width="150" />
		<p>귀엽게 준비 중입니다...</p>
		<div class="progress-container">
			<div class="progress-bar" id="progress-bar"></div>
		</div>
		<p id="progress-text">0%</p>
	</div>
	<!-- 로딩 화면 끝 -->

</body>
</html>