<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 다운로드 엑박은 무시할것. -->
<mapper namespace="com.sboot.moabayo.dao.CardProductMapper">

    <select id="getRecommendCards" resultType="com.sboot.moabayo.vo.CardProductVO">
        SELECT
            CARD_ID     AS cardId,
            IMG         AS img,
            NAME        AS name,
            BRAND       AS brand,
            DESCRIPTION AS description,
            CATEGORY    AS category,
            BENEFITS    AS benefits,
            INTEREST    AS interest,
            TYPE        AS type
        FROM CARD_PRODUCT
        ORDER BY CARD_ID ASC
    </select>

</mapper>
