<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sboot.moabayo.dao.BankMapper">
    <!-- 유저 조회 -->
    <select id="findUserByLoginId" parameterType="String" resultType="com.sboot.moabayo.vo.UserVO">
        SELECT
            user_id        AS userId,
            create_date    AS createDate,
            account_num    AS accountNum,
            address,
            address_detail AS addressDetail,
            zip_code       AS zipCode,
            email,
            name,
            login_id       AS loginId,
            password,
            phone,
            refresh_token  AS refreshToken,
            simple_password AS simplePassword,
            is_admin       AS isAdmin
        FROM users
        WHERE login_Id = #{loginId}
    </select>

    <!-- 유저의 냥코인 계정 -->
	<select id="findNyangCoinByUserId" resultType="com.sboot.moabayo.vo.NyangCoinVO">
	  SELECT
	    nyang_id    AS nyangCoinId,  -- ★ VO와 동일
	    user_id     AS userId,
	    money       AS balance,
	    create_date AS createdAt
	  FROM nyang_coin
	  WHERE user_id = #{userId}
	</select>

    <!-- 히스토리 카운트 -->
	<select id="countHistoryByNyangId" resultType="int">
	  SELECT COUNT(*) FROM coin_history WHERE nyang_id = #{nyangId}
	</select>

	<!-- CoinMapper.xml -->
<select id="findHistoryByNyangIdPaged" resultType="com.sboot.moabayo.vo.NyangCoinHistoryVO">
  SELECT *
  FROM (
    SELECT t.*, ROWNUM AS rnum
    FROM (
      SELECT
        history_id  AS historyId,
        create_date AS createdAt,
        trans_amt   AS amount,
        total_amt   AS balanceAfter,
        trans_type  AS type,
        nyang_id    AS nyangCoinId
      FROM coin_history
      WHERE nyang_id = #{nyangId}
      ORDER BY create_date DESC, history_id DESC
    ) t
    WHERE ROWNUM &lt;= #{endRow}
  )
  WHERE rnum &gt;= #{startRow}
</select>
</mapper>
