<!-- templates/fragments/footer.html -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="site-footer">
		<footer>
			<div class="footer-inner">
				<div class="f-col">
					<h4>모으냥즈</h4>
					<div style="color: var(--sub)">귀여운 고양이들과 함께하는 금융 습관 만들기.</div>
					<p>© 2025 Moenyangs Bank. All rights reserved.</p>
					<p>사업자등록번호 123-45-67890 | 고객센터 1588-1234</p>
					<p>
						<a href="#">이용약관</a> | <a href="#">개인정보처리방침</a>
					</p>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>
