<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<header class="site-header">
		<div class="left-section">
			<a href="javascript:void(0);" onclick="goToMainService()">
				<img src="/images/cat.png" alt="로고" class="logo-img" />
			</a>
		</div>
		<div class="center-section">
			<nav class="nav-bar">
				<a href="javascript:void(0);" onclick="goToMainService()">홈</a>
				<a href="javascript:void(0);" onclick="goToBankService()">은행 서비스</a>
				<a href="javascript:void(0);" onclick="goToCardService()">카드 서비스</a>
				<a href="javascript:void(0);" onclick="goToTransactions()">계좌조회</a>
				<a href="javascript:void(0);" onclick="goAdmin()">고객센터</a>
			</nav>
		</div>
		<!-- 토큰 박스 -->
		<div class="token-box" id="tokenBox" style="display: none;">
			<div>
				남은 시간: <span id="remainTime">-</span>
			</div>
		</div>
		<!-- 로그인/회원가입 or 유저 이름 -->
		<div class="right-section" id="authSection"></div>
	</header>
</body>
</html>